body{font-family: 'Ubuntu', sans-serif !important;}
:root{
    --border-radius:8px;
    --gradient: linear-gradient(180deg, rgba(0,0,0,0.9) 0%,
    rgba(0,0,0,0.75) 25%,
    rgba(0,0,0,0.6) 40%,
    rgba(0,0,0,0.45) 55%,
    rgba(0,0,0,0.3) 70%,
    rgba(0,0,0,0.15) 85%,
    rgba(0,0,0,0) 100%);
    --gradient-reverse: linear-gradient(0deg, rgba(0,0,0,0.9) 0%,
    rgba(0,0,0,0.75) 25%,
    rgba(0,0,0,0.6) 40%,
    rgba(0,0,0,0.45) 55%,
    rgba(0,0,0,0.3) 70%,
    rgba(0,0,0,0.15) 85%,
    rgba(0,0,0,0) 100%);
    --gradient-sticky: linear-gradient(180deg,
    hsl(0, 0%, 0%) 0%,
    hsla(0, 0%, 0%, 0.738) 22%,
    hsla(0, 0%, 0%, 0.541) 37%,
    hsla(0, 0%, 0%, 0.382) 50%,
    hsla(0, 0%, 0%, 0.278) 59.5%,
    hsla(0, 0%, 0%, 0.194) 68%,
    hsla(0, 0%, 0%, 0.126) 76%,
    hsla(0, 0%, 0%, 0.075) 83.2%,
    hsla(0, 0%, 0%, 0.042) 89.1%,
    hsla(0, 0%, 0%, 0.021) 94%,
    hsla(0, 0%, 0%, 0.008) 98.2%,
    hsla(0, 0%, 0%, 0.002) 100.0%,
    hsla(0, 0%, 0%, 0) 100%
    );
}
@import "reset.scss";
@import "variables.scss";
@import "modules.scss";
@import "header.scss";
@import "sideMenu.scss";
@import "megamenu.scss";
@import "hero.scss";
@import "blockBanner.scss";
@import "bannerSlider.scss";
@import "promotionSlider.scss";
@import "perksBanner.scss";
@import "bannerLast.scss";
@import "privilegeBanner.scss";
@import "chatModule.scss";
@import "footer.scss";